docx2pdf==0.1.8
fastapi==0.110.1
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
PyMySQL==1.1.0
pydantic==2.7.0
jose==1.0.0
passlib==1.7.4
pydantic==2.7.0
pydantic_core==2.18.1
pythainlp==5.0.2
python-docx==1.1.0
python-dotenv==1.0.1
python_jose==3.3.0
python-multipart==0.0.9
reportlab==4.2.0
scikit_learn==1.5.2
SQLAlchemy==2.0.29
uvicorn==0.32.0
